<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sD 회원가입 시스템</title>
    <link rel="stylesheet" type= "text/CSS" href="/CSS/signup.css">
  </head>

  <body>
    <form action="/" method="post">
    <div class="frame">
     <div class="header">
       <h1> 회원가입 시스템 </h1>
       <hr color="#819FF7" size=2/><br>
     </div>

     
     <div class="container">
       <div class="content">
         <div class="text">
          아이디 입력
         </div>
         <div class="content_box">
          <input id="user_Id" name="user_Id" type="text" class="int" maxlength="20" title ="아이디 입력" placeholder="사용할 아이디를 입력하세요 " onchange="id_change(this)" onfocusout="id_change(this)">
          <h4 id="idErrorMessage" style="color: red"></h4>
          <h4>5~20 영문, 숫자로 입력해주세요.</h4>
         </div>
       </div>

       <div class="content">
        <div class="text">
         닉네임 입력
        </div>
        <div class="content_box">
         <input id="user_nick" name="user_nick" type="text" class="int" maxlength="20" title ="닉네임 입력" placeholder="사용할 닉네임을 입력하세요"
         onchange="nick_change(this)" onfocusout="nick_change(this)">
         <h4 id="nickErrorMessage" style="color: red"></h4>
         <h4>5~20 닉네임을 입력해주세요(띄워쓰기 X)</h4>
       </div>
      </div>

       <div class="password_site">
        <div class="text">
         비밀번호 입력
        </div>
        <div class="content_box">
         <input id="user_pw1" name="user_pw1" type="password" class="user_password" maxlength="20" title ="비밀번호 입력" placeholder="사용할 비밀번호를 입력하세요" onchange="pw1_change(this)" onfocusout="pw1_change(this)">
         <h4 id="pw1ErrorMessage" style="color: red"></h4>
         <input id="user_pw2" name="user_pw2" type="password" class="user_password" maxlength="20" title ="비밀번호 재입력" placeholder="비밀번호를 재확인해주세요." onchange="pw2_change(this)" onfocusout="pw2_change(this)">
         <h4 id="pw2ErrorMessage" style="color: red"></h4>
         <h4>영문, 숫자 포함 6~20자</h4>
       </div>
      </div>

       <div class="content">
        <div class="text">
         이름 입력
        </div>
        <div class="content_box">
         <input id="user_name" name="user_name" class="int" type="text" title ="이름 입력" placeholder="이름을 입력하세요"
          onchange="name_change(this)" onfocusout="name_change(this)">
         <h4 id="nameErrorMessage" style="color: red"></h4>
         <h4>ID/PW 분실시 가입정보를 통해 찾을 수 있으므로 정확히 입력바람</h4>
       </div>
      </div>

      <div class="content">
       <div class="text">
        이메일 입력
       </div>
       <div class="content_box">
         <input id="user_email" name="user_email" type="text" class="email_box" title="이메일 입력" onfocusout="email_regex()">
         &nbsp @ &nbsp
         <input id="user_email2" name="user_email2" type="text" class="email_box" value="" disabled title="이메일 주소 입력" onfocusout="email_regex()">
         <select id="email_select" name = "이메일 주소" class="box" onChange = "emailchange();">
           <option value="0">선택하세요</option>
           <option value="naver.com">naver.com</option>
           <option value="gmail.com">gmail.com</option>
           <option value="hanmail.com">hanmail.com</option>
           <option value="yahoo.co.kr">yahoo.co.kr</option>
           <option value="1">직접입력</option>
         </select>
         <h4 id="emailErrorMessage" style="color: red"></h4>
         <h4> 사용할 이메일 주소를 입력해주세요. </h4>
       </div>
      </div>
     </div>
      <input id="ub" type = "submit" value = "회원가입">
    </div>


    <script type="text/javascript">

          //아이디
          let id = document.getElementById("user_Id");
          let message = document.getElementById("idErrorMessage");
          let id_change = t => {
                                message.innerHTML = " ";
                                if (t.value.length < 5)
                                {
                                 message.innerHTML = "Error, length validation: " + t.value.length;
                                }

                                var myRe = /^[a-z0-9]+$/i;
                                var myArray = myRe.exec(t.value);
                                if (myArray == null)
                                {
                                 message.innerHTML = "Error, number and character: " + t.value;
                                }

                                var checkNumber = t.value.search(/[0-9]/g);
                                var checkEnglish = t.value.search(/[a-z]/ig);
                                if(checkNumber < 0 || checkEnglish < 0)
                                {
                                 message.innerHTML = "숫자 영문 조합으로 입력해주세요.";
                                }
                               }


          //닉네임
          let nick = document.getElementById("user_nick");
          let message_n = document.getElementById("nickErrorMessage");
          let nick_change = n => {
                                  message_n.innerHTML = " ";
                                  if (n.value.length > 0 && n.value.length < 5)
                                  {
                                   message_n.innerHTML = "Error, length validation: " + n.value.length;
                                  }
                                  var myRe = /^[ㄱ-ㅎ|가-힣|a-z|A-Z|0-9|\*]+$/;
                                  var myArray = myRe.exec(n.value);
                                  if (myArray == null)
                                  {
                                   message_n.innerHTML = "Error, number and character: " + n.value;
                                  }
                                 }

          //비밀번호 연습
          /*let password = document.getElementById("user_password");
          let password_1 = document.getElementById("user_password_1");
          let message_p = document.getElementById("passwordErrorMessage");
          let password_change = p => {
                                       message_p.innerHTML = " ";
                                       if (p.value.length > 0 && p.value.length < 6){
                                                                                      message_p.innerHTML = "Error, length validation " + p.value.length;
                                                                                    }

                                      var myRe = /^[a-z0-9]+$/i;
                                      var myArray = myRe.exec(p.value);
                                      if (myArray == null) {
                                                              message_p.innerHTML = "Error, number and character";
                                                           }
                                      else if (password.value != password_1.value){
                                                              message_p.innerHTML = "비밀번호가 일치하지 않습니다.";

                                      }
                                    }*/

          //비밀번호
          let pw1 = document.getElementById("user_pw1");
          let message_p = document.getElementById("pw1ErrorMessage");
          let pw1_change = p => {
                                 message_p.innerHTML = " ";
                                 if(p.value.length > 0 && p.value.length < 6)
                                 {
                                  message_p.innerHTML = "Error, length validation : " + p.value.length;
                                 }

                                  var myRe = /^[a-z0-9]+$/i;
                                  var myArray = myRe.exec(p.value);
                                  if (myArray == null)
                                  {
                                   message_p.innerHTML = "Error, number and character";
                                  }

                                  var checkNumber = p.value.search(/[0-9]/g);
                                  var checkEnglish = p.value.search(/[a-z]/ig);
                                  if(checkNumber < 0 || checkEnglish < 0)
                                  {
                                   message_p.innerHTML = "숫자 영문 조합으로 입력해주세요.";
                                  }
                                }

          //비밀번호 재확인
          let pw2 = document.getElementById("user_pw2");
          let message_p2 = document.getElementById("pw2ErrorMessage");
          let pw2_change = p2 => {
                                  message_p2.innerHTML = " ";
                                  /*console.log(pw1.value);
                                  console.log(pw2.value);*/
                                  if(pw1.value != pw2.value)
                                  {
                                   message_p2.innerHTML = "Error, 비밀번호를 재확인해주세요.";
                                  }
                                 }

          //이름
          let name = document.getElementById("user_name");
          let message_name = document.getElementById("nameErrorMessage");
          let name_change = name => {
                                      message_name.innerHTML = " ";

                                      var myRe = /^[가-힣|a-z|A-Z|\*]+$/;
                                      var myArray = myRe.exec(name.value);
                                      if (myArray == null)
                                      {
                                       message_name.innerHTML = " 정확히 입력해주세요. ";
                                      }
                                    }

          //이메일
          let email = document.getElementById("user_email");
          let message_email = document.getElementById("emailErrorMessage");
          
          let email_regex = () => {
            message_email.innerHTML = " ";
            
            if (user_email.value !="" && user_email2.value !="") {
              
              const emailadd = user_email.value +"@"+ user_email2.value;
              console.log(emailadd);
              
              var myRe = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
              var myArray = myRe.exec(emailadd);
              if (myArray == null) {
                message_email.innerHTML = "이메일 형식이 올바르지 않습니다.";
                return false;
              } 
              return true;
            }
          }

          let emailchange = () => {
            if (email_select.value == '1') {
              user_email2.disabled = false;
              user_email2.value = "";
              user_email2.focus();
            } else {
              user_email2.disabled = true;
              user_email2.value = email_select.options[email_select.selectedIndex].value;
              email_regex();
            }
          }

          document.querySelector('.ub').addEventListener('click', function(){      
          var inputdata = document.forms[0].elements[0].value;   
          sendAjax('http://127.0.0.1:3000/receive', inputdata)
          });

          
          function sendAjax(url, data){
  
          // 입력값을 변수에 담고 문자열 형태로 변환
          var data = {'user_Id': data};
          data = JSON.stringify(data);

          // content-type을 설정하고 데이터 송신
          var xhr = new XMLHttpRequest();
          xhr.open('POST', url);
          xhr.setRequestHeader('Content-type', "application/json");
          xhr.send(data);

          xhr.addEventListener('load', function(){
         console.log(xhr.responseText);
         });
        }

    </script>
  </body>

</html>
