
  @media (min-width : 576px){
    .frame{
           transform: scale(0.7);
          }
   }
@media (min-width : 768px){
    .frame{
           transform: scale(0.8);
          }
   }
@media (min-width : 992px){
    .frame{
           transform: scale(0.9);
          }
   }
@media (min-width : 1200px){
    .frame{
           transform: scale(1.0);
          }
   }
.frame{
width : 70%;
margin : 0 auto;
}
.header{
margin : 0 auto;
}
.container{
height : 100%;
overflow : auto;
border : 1px solid gray;
margin : 0 auto;
padding : 50px;
}
.content{
width : 100%;
margin : 0 auto;
height : 85px;
}
.text{
width : 30%;
float : left;
line-height : 35px;
}
.content_box{
width : 70%;
float : right;
}
.int{
width : 100%;
height : 31px;
padding : 0px 9px 0 9px;
font-size : 14px;
}
h4{
margin-top : 2px;
margin-bottom : 0px;
font-size : 13px;
color : gray;
}
.password_site{
width : 100%;
margin : 0 auto;
height : 140px;
}
.user_password{
width : 100%;
height : 31px;
padding : 0px 9px 0 9px;
font-size : 14px;
margin-bottom : 5px;
}
.email_box{
width : 30%;
height : 31px;
padding : 0px 9px 0 9px;
font-size : 14px;
}
#ub{
width : 100px;
height : 50px;
background-color : #819FF7;
float : right;
margin-right : 50px;
margin-top : 20px;
}
#email_select{
width : 20%;
height : 35px;
}

